<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TabViewer</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link href="https://unpkg.com/tabulator-tables@5.4.2/dist/css/tabulator.min.css" rel="stylesheet">
    
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    
    <!-- Extensions Library (this will be hosted on a CDN eventually) -->
    <script src="./tableau.extensions.1.latest.js"></script>

    <!-- Tabulator -->
    <script type="text/javascript" src="https://unpkg.com/tabulator-tables@5.4.2/dist/js/tabulator.min.js"></script>
    
    <!-- Our extension's code -->
    <script src="./js/script.js"></script>

    <style>
      .tabulator .tabulator-header {
        border-bottom: none
      }
      .tabulator .tabulator-header .tabulator-col {
        border-right:  1px solid #DCDCDC;
        text-align:  center;
      }
      .tabulator-row .tabulator-cell {
        border-right:  1px solid #DCDCDC;
      }
      .tabulator-cell {
        text-align: center;
      }
      .tabulator .tabulator-footer {
        border-top: 4px solid white;
      }
      .tabulator .tabulator-footer .tabulator-page.active {
        color: #707070;
      }
    </style>
  </head>
  <body>

    <div class="toast-container position-fixed bottom-0 end-0 p-3">
      <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header" style="background:#AD3D3C;color:white;">
          <strong class="me-auto">Error</strong>
          <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div id="toast-content" class="toast-body"></div>
      </div>
    </div>
    
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Tables</h1>
          </div>
          <div class="modal-body">
            <div class='container p-1' style='height:341px;'>
              <div id="list-table" class="d-none" style="border:none;height:330px"></div>
              <div id='list-load' class="container d-flex align-items-center d-none" style="height:331px;background:#F5F5F5;">
                <iconify-icon icon="eos-icons:loading" width="50" height="50" class="m-auto"></iconify-icon>
              </div>
              <div id='list-error-1' class="container d-flex align-items-center p-0 d-none" style="height:165.5px;background:#F5F5F5;">
                <iconify-icon icon="bx:error-circle" width="50" height="50" class="m-auto mb-0"></iconify-icon>
              </div>
              <div id='list-error-2' class="container d-flex align-items-center p-0 d-none" style="height:165.5px;background:#F5F5F5;">
                <span class="m-auto mt-2"><i>Can't load table list, please try again later..</i></span>
              </div>
              <div id='list-init' class="container d-flex align-items-center p-0" style="height:331px;background:#F5F5F5;">
                <span class="m-auto"><i>Click Refresh to Load Tables..</i></span>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button id="refresh" type="button" class="btn btn-secondary" title="Refresh">
              <iconify-icon icon="charm:refresh"></iconify-icon>
            </button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" title="Close">Close</button>
          </div>
        </div>
      </div>
    </div>

<div class="vh-100 d-flex justify-content-center align-items-center m-auto" style="width:750px">
  
  <div id='error-ui' class='container border p-2 d-flex justify-content-center align-items-center d-none' style='height:437.6px;background:#F5F5F5;text-align:center;'>
    <i>Couldn't Initialize the extension, try again later..</i>
  </div>

  <div id='main-ui' class='container border p-0' style='height:437.6px;'>
    
    <div class='container p-1' style='height:100px;'>
      
      <!-- Control Panel -->
      <div class='container float-start p-0' style="width:4%;height:100%">
        <div class="btn-group-vertical btn-group-sm" role="group" style='width:100%;height:100%;'>
          <button id="execute" type="button" class="btn" style='margin-bottom:2px;background:#F5F5F5;height:32%;border:none' title="Execute">
            <iconify-icon icon="carbon:play-filled-alt"></iconify-icon>
          </button>
          <button id='tables' type="button" class="btn" style='margin-bottom:2px;background:#F5F5F5;height:32%' title="View Tables" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <iconify-icon icon="bxs:data"></iconify-icon>
          </button>
          <button id='download-csv' type="button" class="btn disabled" style="background:#F5F5F5;height:32%;border:none" title="Download CSV">
            <iconify-icon icon="carbon:csv"></iconify-icon>
          </button>
        </div>
      </div>

      <!-- Query Input -->
      <div class='container float-end p-0' style="width:95.5%;height:100%">
        <textarea id='query' class="form-control h-100 w-100" placeholder="Try: SELECT * FROM bookings" style="resize:none;background:#F5F5F5;border:none;outline:none;font-size:12px;"></textarea>
      </div>
    </div>
    
    <!-- Query Output -->
    <div class='container p-1 pt-0' style='height:348px;'>
      <div id="example-table" class="d-none" style="border:none;height:330px;width:748px;"></div>
      <div id='load' class="container d-flex align-items-center d-none" style="height:331px;background:#F5F5F5;">
        <iconify-icon icon="eos-icons:loading" width="50" height="50" class="m-auto"></iconify-icon>
      </div>
      <div id='error-1' class="container d-flex align-items-center p-0 d-none" style="height:165.5px;background:#F5F5F5;">
        <iconify-icon icon="bx:error-circle" width="50" height="50" class="m-auto mb-0"></iconify-icon>
      </div>
      <div id='error-2' class="container d-flex align-items-center p-0 d-none" style="height:165.5px;background:#F5F5F5;">
        <span class="m-auto mt-2"><i>Something went wrong, please check your query, or try again later..</i></span>
      </div>
      <div id='init' class="container d-flex align-items-center p-0" style="height:331px;background:#F5F5F5;">
        <span class="m-auto"><i>You'll see query results here..</i></span>
      </div>
    </div>  
  
  </div>
</div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <script src="https://code.iconify.design/iconify-icon/1.0.1/iconify-icon.min.js"></script>

  </body>
</html>